brain_node:
  ros__parameters:
    game:
      team_id: 0 # 与 GameControl 的 team_id 保持一致 (有效值：1-255)
      player_id: 0 # 1 | 2 | 3 | 4 | 5 | 6
      field_type: "adult_size" # adult_size | kid_size | robo_league
      player_role: "TODO" # striker | goal_keeper
      player_start_pos: "right" # right | left
      treat_person_as_robot: false # 是否将人类视为机器人，用于调试。!!!! 正式比赛时，必须设置为 false !!!!
      number_of_players: 5

    ball_predictor: # ----UNUSED----
      step_interval: 100. # 球预测的时间间隔，单位：毫秒
      step_cnt: 50 # 球预测的步数
      linear_steps: 5 # 利用前几帧的数据进行线性预测，数据越大越稳定但越慢.
      linear_rsq_threshold: 0.98 # 线性预测的 R^2 阈值，小于此值则认为没有做直线运动.
      acceleration: -0.4 # 球自由滚动时的加速度

    robot:
      robot_height: 0.90 # 用于大概估算检测到的物体相对于机器人头的 pitch 角
      odom_factor: 1.2 # 大约估算 odom 中给出的距离与实际行走的距离的比例
      vx_factor: 0.90 # 修正步态 x 与 y 的差异
      yaw_offset: 0.0 # 修正步态的前进角度 (0时偏左，把power设高点会好些)
      vx_limit: 1.5 # 步态 x 速度限制
      vy_limit: 1.5 # 步态 y 速度限制
      vtheta_limit: 1.5 # 步态角速度限制

    strategy:
      ball_confidence_threshold: 40.0 # confidence 低于这个阈值，认为不是球
      ball_confidence_decay_rate: 3.0 # 看到 confidence 为 100 的球后，多少秒没有再看到，则认为球丢了
      enable_stable_kick: false # 开启后，在 kick 时，如风险较低，则稳定一下再出脚 !!--> unused in yaml, can edit by searching `enableStableKick`
      ball_memory_timeout: 3.0 # 球记忆失效时间，超过这个时间，认为球丢了
      tm_ball_dist_threshold: 0.5  # 队友发送的球的位置与我当前位置的距离，如果大于此值，则认为队友的信息准确.
      limit_near_ball_speed: false # 是否限制在 chase 时靠近球时的速度
      near_ball_speed_limit: 0.6 # 靠近球时的速度限制
      near_ball_range: 2.0 # 靠近球时的范围，在这个范围内，限制速度
      soft_kickoff: true # 开球时用小力度，以防止直接开进门，使进球无效
      soft_kickoff_speed: 0.2 # 开球时的力度 (速度)
      kick_range: 1.0 # 仅在这个 range 之内才会执行 kick 或 disrupt
      kick_theta_range: 0.2 # ball yaw 只有在这个角度之内，才会踢。否则就继续调整
      abort_kick_when_ball_moved: true # kick 过程中，如果能明确感知到球已经不在 kick 路线上或已经踢中了，则直接退出 kick
      abort_kick_ball_move_threshold: 0.3 # 球的距离相对于最小值变化了这么多，则认为已经踢到球了
      abort_shoot_when_ball_moved: true  # shoot 过程中，如果能明确感知到球已经不在路线上或已经踢中了，则直接退出
      limit_speed_near_border: false # 是否限制在 chase 时靠近场地边界时的速度
      near_border_speed_limit: 0.5 # 靠近场地边界时的速度限制
      near_border_dist_threshold: -1.0 # 靠近场地边界时的范围，在这个范围内，限制速度。注意，这里负值代表在场内.
      enable_bypass: false # 是否开启传球策略   ---UNUSED----
      enable_shoot: false # 是否使用 shoot    ---UNUSED----
      enable_pass: true # [#3] 是否开启传球机制，射门角度不好时寻找队友传球
      adjust_timeout_secs: 5.0 # [#7] Adjust 状态超时秒数，超时后强制切换到 chase
      enable_directional_kick: false # 为 true 时，在方向合适时会通过斜向踢球来将球往对方球门踢   ---UNUSED----
      use_squat_block: false # 是否使用蹲下挡球策略，如果为 true, 则守门员会蹲下挡球，否则只会站立挡球   ----Negative impact by true-------
      squat_block_msecs: 2000.0 # 蹲下挡球的时间，单位：毫秒
      use_move_block: true # 是否使用移动挡球策略，如果为 true, 则守门员依据对球路的预测，提前向挡球位置移动，如 false, 则只会向球的当前位置移动.  !!!TODO: WORTH TESTING
      move_block_msecs: 2000.0 # 移动挡球的时间，单位：毫秒
      shoot:
        threat_threshold: -2.0 # threat 小于此值时，才使用 kick
        xmin: 0.3 # 大力开球的 x 轴范围，单位：米
        xmax: 0.6 # 大力开球的 x 轴范围，单位：米
        ymin: -0.3 # kick 的 y 轴范围，单位：米
        ymax: 0.3 # kick 的 y 轴范围，单位：米

      power_shoot: #------UNUSED--------
        enable: true # 在直接任意球和门球时，是否使用大力踢 
        use_for_kickoff: true # 在正常开球时是否使用大力踢
        # 以下参数围成的矩形为大力踢球的触发区域
        xmin: -7.0 # 大力开球的 x 轴范围，单位：米
        xmax: 1.5 # 大力开球的 x 轴范围，单位：米
        ymin: -3.0 # 大力开球的 y 轴范围，单位：米
        ymax: 3.0 # 大力开球的 y 轴范围，单位：米

      enable_auto_visual_kick: true
      auto_visual_kick_enable_dist_min: 0.2 # 视觉射门的距球距离最小值
      auto_visual_kick_enable_dist_max: 3.5 # 视觉射门的距球距离最大值
      auto_visual_kick_enable_angle: 0.5 # 机器人面朝方向与球之间允许的最大偏差角度
      enable_auto_visual_defend: true # 守门员是否开启自动视觉

      cooperation:
        enable_role_switch: true # 开启后，会根据场上裁判机上存活的队友数量，来自动决定自己的角色。
        ball_control_cost_threshold: 5.0 # 队友踢球的 cost 小于此值时，我不再上前抢球，而是转为助攻

    obstacle_avoidance:
      depth_sample_step: 16 # 障碍物检测时，深度图采样点的步长，越大越快但越不准确，单位：像素
      obstacle_min_height: 0.3 # 障碍物高度阈值，高于此值的点视为障碍物，单位：米
      grid_size: 0.2 # 障碍物检测时，网格边长，单位：米
      max_x: 3.0 # 在前方 x: [0, max_x] 范围内检测障碍物，单位：米
      max_y: 5.0 # 在左右 y: [-max_y, max_y] 范围内检测障碍物
      exclusion_x: 0.4 # 排除 x 轴（前后方向）范围，即排除机器人自己，此范围外的点视为障碍物
      exclusion_y: 0.5 # 排除 y 轴（左右方向）范围，即排除机器人自己，此范围外的点视为障碍物
      ball_exclusion_radius: 0.0 # 球周围这个半径内的障碍物认为不是障碍
      ball_exclusion_height: 0.3 # 球周围这个高度内的障碍物认为不是障碍
      occupancy_threshold: 12 # 障碍物阈值，在世界坐标系的一个网格内，高于指定高度的深度采样点数大于些值，则认为存在障碍物
      collision_threshold: 0.3 # 碰撞阈值，当障碍物与机器人的距离小于此值，则认为发生碰撞，相当于机器人的碰撞半径
      safe_distance: 1.0 # 安全距离，当障碍物距离小于此值时，认为需要避障
      avoid_secs: 2.0 # 避障时，每次绕行障碍物的时长
      enable_freekick_avoid: true # 是否在自由球起始放置时避障
      freekick_start_placing_safe_distance: 0.5 # 自由球起始放置时，避障安全距离，如果球在此范围内，则认为需要避障
      freekick_start_placing_avoid_secs: 1.5 # 自由球起始放置时，避障绕行时间（秒）
      obstacle_memory_msecs: 500. # 视野外的障碍物，在记忆中保持的时间 (毫秒)
      avoid_during_kick: false # 是否在 kick 时避障，如果为 true, 则有障碍物时就不会踢球，只会挡住对方
      kick_ao_safe_dist: 1.5 # kick 时的避障安全距离
      kick_ao_use_shoot: false # 当 avoid_during_kick 为 true 时，此值为 true 时，使用 shoot 进行踢球; 此值为 false 时，则直接不踢，只原地踏步.
      avoid_during_chase: true # 是否在 chase 时避障
      chase_ao_safe_dist: 1.5 # chase 时的避障安全距离
      always_turn_left: false # 在 gotoreadyposition 时，如果有障碍，永远向左转

    locator:
      min_marker_count: 5 # 最少看到多少到 marker, 才可以进行粒子滤波定位
      max_residual: 0.4 # 粒子滤波定位时，最终每个粒子的加权偏差大于此值时，认为定位不成功

    enable_com: true  # 是否开启队友间通信，默认开启

    rerunLog:
      enable_tcp: false # 是否通过网络传输 log
      server_ip: "192.168.10.110:9876" # 开启了 rerun Viewer 的机器地址
      enable_file: true # 是否将 log 写入本地
      log_dir: "/home/booster/Workspace/rrlog" # 本地 log 存储路径，会在此路径下生成以时间为开头的文件
      max_log_file_mins: 3.0 # 本地 log 最长多少分钟就分片存储。太大的文件会导致读的时候死机.
      img_interval: 2 # 每多少帧图像 log 一次，如果希望更好的实时性或减少日志大小，可以调高这个值。但会造成 log 的时间精度降低.

    recovery:
      retry_max_count: 3 # 尝试起身的最大次数，超过这个次数后，认为起身失败，进入 recovery 模式，需要人工干预

    vision:
      image_topic: "/camera/camera/color/image_raw" #realsense
      depth_image_topic: "/camera/camera/aligned_depth_to_color/image_raw" #realsense
      # image_topic: "/image_left_raw" # d-robotics
      # depth_image_topic: "/image_left_raw/camera_info" # d-robotics
      # cam_pixel_width: 544. # 相机像素宽度, d-robotics
      # cam_pixel_height: 448. # 相机像素高度, d-robotics
      cam_pixel_width: 1280. # 相机像素宽度 realsense
      cam_pixel_height: 720. # 相机像素高度 realsense
      cam_fov_x: 90.0 # 相机视场角, 单位: 度 realsense
      cam_fov_y: 60.0 # 相机视场角, 单位: 度 realsense
      # cam_fov_x: 69.4 # 相机视场角, 单位: 度, d-robotics
      # cam_fov_y: 42.5 # 相机视场角, 单位: 度, d-robotics    


    debug:
      log_ball_pos: false # 是否记录球位置到 ballpos.log 中，用于调试

    game_control_ip: "TODO" # 裁判机的 IP 地址

    # for fun
    sound:
      enable: true # 是否播放声音
      sound_pack: "espeak" # espeak 或 语音名名称，假设语音包名称为 <name>, 相应的语音文件需放到：sound_play/sounds/ 目录下，以<name>-xx.mp3 命名
